<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alpaca.tv</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-black text-white">
    <!-- Navbar -->
    {{ template "navbar" }}
    <!-- Container -->
    <div class="px-4 md:px-0 max-w-screen-xl m-auto">
        <!-- Title -->
        <div class="mt-8 text-4xl font-semibold">Фильмы</div>
        <!-- Ordering selector -->
        <div class="mt-4 flex">
            <a class="mr-4 py-1 px-2 font-semibold rounded border border-transparent hover:border-white transition duration-300 {{ if eq .Order `watching` }} bg-white text-black {{ end }}" href="/films/1?o=watching">Популярное</a>
            <a class="mr-4 py-1 px-2 font-semibold rounded border border-transparent hover:border-white transition duration-300 {{ if eq .Order `last` }} bg-white text-black {{ end }}" href="/films/1?o=last">Последние</a>
            <a class="mr-4 py-1 px-2 font-semibold rounded border border-transparent hover:border-white transition duration-300 {{ if eq .Order `popular` }} bg-white text-black {{ end }}" href="/films/1?o=popular">Топ</a>
        </div>
        <!-- List -->
        <div class="mt-4">
            {{ template "block.cards" .Films }}
        </div>
        <!-- Pagination -->
        <div class="mb-16 flex justify-center">
            {{ if gt .PrevPage 0 }}
            <a href="/films/{{ .PrevPage }}" class="hover:underline">
                <span>
                    <svg class="inline h-4 w-4" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path>
                    </svg>
                </span>
                <span>назад</span>
            </a>
            {{ end }}
            <a href="/films/{{ .NextPage }}" class="pl-8 hover:underline">
                <span>вперёд</span>
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="inline h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
                    </svg>
                </span>
            </a>
        </div>
    </div>
    <!-- Footer -->
    {{ template "footer" }}
</body>
</html>
