<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alpaca.tv</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-black text-white">
    <!-- Navbar -->
    {{ template "navbar" }}
    <!-- Cover -->
    <div class="cover">

    </div>
    <!-- Searchbar -->
    <div class="mt-24">
        <form action="/search" method="get">
            <div class="m-auto w-full max-w-screen-sm shadow-sm bg-gray-800 rounded-md relative">
                <input type="text" name="q" placeholder="Поиск ..." class="w-full h-full outline-none py-3 px-3 bg-transparent">
                <button class="w-8 h-8 p-1 absolute right-2 top-2 text-gray-400 shadow-sm rounded-full">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                    </svg>
                </button>
            </div>
            <input type="submit" style="display: none" />
        </form>
    </div>
    <!-- Now Watching -->
    <div class="mt-64 mb-16 max-w-screen-xl mx-auto">
        <div class="mt-4">
            {{ template "block.cards" .NWFilms }}
        </div>
        <div class="mt-4">
            {{ template "block.cards" .NWSeries }}
        </div>
    </div>
    <!-- Footer -->
    {{ template "footer" }}

    <style>
    .cover {
        height: 250px;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1)),
                    url('/static/img/cover.jpg');
        background-size: cover;
    }
    </style>
</body>
</html>
